<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @ville.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ville.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @ville.picture %>
</p>

<%= link_to 'Edit', edit_ville_path(@ville) %> |
<%= link_to 'Back', villes_path %>
